@use './../../helper/mixin.module.scss' as c; 
@use './../../helper/colors.module.scss' as color;
.random{
    width: 90%;
    max-width: 90%;
    margin-left: 5%;
    @media(max-width:600px) {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        overflow: auto;
    }

    h3{
        @include c.primaryFont(400);
        font-size: 20px;
       }
    
       hr{
        @include c.divider;
       }
    
       .productsList{
        @include c.flexDirection(row);
        @media(max-width:600px){
           
        }
        
        .fistDiv{
            position: relative;

            cursor: pointer;
           
            
            img{
                width: 100%;
                height: 148px;
                min-width: 148px;
                margin: 0;
                padding: 0;
               
            }
            .ProductName{
                background-color: color.$lightGreen;
                color: color.$white;
                padding: 9px;
                position: absolute;
                left: 0;
                width: 88%;
               top: 0;
               text-align: center;
            }
        }
        
       }
}