@import './../../helper/mixin.module.scss';
@import './../../helper/colors.module.scss';
.donation{
    @include gridStyle(repeat(2, 1fr));
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 60px;
    div{
        padding: 9px 21px 9px 21px;
        &:nth-child(1){
            background-image: url('./../../assets/images/banner_image2.jpg');
            background-size: cover;
            background-position: center;
        }
        &:nth-child(2){
            background-image: url('./../../assets/images/banner_image3.jpg');
            background-size: cover;
            background-position: center;
        }
        h3 {
            @include notMarPd;
            @include primaryFont(400);
            color: $white;
            font-size: 24px
        }
        .firstP {
            @include notMarPd;
            @include primaryFont(100);
            color: $white;
            font-size: 16px
        }
        h2{
            @include notMarPd;
            @include primaryFont(100);
            color: $darkGreen;
            font-size: 32px;
            justify-content: end;
            width: 60%;
            margin-left: 40%;
        }
        .lastP{
            @include notMarPd;
            @include primaryFont(100);
            color: $white;
            font-size: 11px;

        }
    }
}

hr{
    @include divider;
    width: 90%;
   }