@import './../../helper/mixin.module.scss';
@import './../../helper/colors.module.scss';
.Login{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    .loginSection{
        width: 30%;
    margin-left: 35%;
    margin-bottom: 60px;
    }
    h3{
        text-align: center;
        @include primaryFont(300);
        font-size: 32px;
    }
    div{
        @include gridStyle(1fr);
        @include notMarPd;
        gap: 0;
        &:nth-child(2){
            margin-top: 30px
        }
        input[type=email]{
            @include notMarPd;
            background-color: $input;
            border: 2px solid rgba(29, 132, 57, 0.5);
            height: 27px;
            background-image: url('./../assets/icone/arroba.png');
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 98%;
        }
        input[type=password]{
            @include notMarPd;
            background-color: $input;
            border: 2px solid rgba(29, 132, 57, 0.5);
            height: 27px;
            background-image: url('./../assets/icone/lock.png');
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 98%;
        }
        label{
            @include notMarPd;
        }
    }
    p{
        @include primaryFont(300);
        font-size: 14px;
        span{
            color: $darkGreen;
            cursor: pointer;
        }
    }
    button{
        background-color: $lightGreen;
        border: none;
        width: 96px;
        height: 36px;
        color: $white;
        margin-left: 80%;
        margin-top: 30px;
    }
}
