@use './../../helper/mixin.module.scss' as c; 
@use './../../helper/colors.module.scss' as color;

.minAnnonce{
    @include c.primaryWidth;
    margin-bottom: 30px;
    @media(max-width:600px){
        width: 100%;
        margin-left: 0;
    }
    section{
        @include c.flexDirection(row);
        border: 1px solid color.$darkGreen;
        margin-top: 21px;
        padding: 10px 30px 10px 30px;
        @media(max-width:600px){
            padding: 3px 10px 3px 10px;
            @include c.flexDirection(column);
        }
   
        div{
            margin-top: 10px;
            width: 100%;
            article{
                padding: 0 30px 0 30px;
                @include c.flexDirection(row);
                justify-content: space-between;
                background-color: color.$darkGreen;
                color: color.$white;
           
                h4{
                    @include c.notMarPd;
                    @include c.primaryFont(300);
                    @media(max-width:600px){
                        font-size: 12px;
                    }
                }
            }
            p{
                @include c.primaryFont(300);
                font-size: 12px;
            }
        }
        figure{
            width: 30%;
            @include c.notMarPd;
            @media(max-width:600px){
                width: 100%;
            }
            img{
                width: 100%;
                max-height: 120px;
                min-height: 120px;
                @media(max-width:600px){
                    width: 100%;
                    max-height: 200px;
                    min-height: 200px;
                  
                }
            }
        }
    }
   .annonceLinks{
    @include c.flexDirection(row);
    justify-content: end;
    margin-top: 3px;
    a{
        color: color.$black;
        text-decoration: none;
        @include c.primaryFont(300);
        cursor: pointer;
    }
    button{
        border: none;
       @extend a;
    }
   }
}