@use './../../helper/mixin.module.scss' as c; 
@use './../../helper/colors.module.scss' as color;

.footer{
background-color: color.$lightGreen;
padding: 12px 0 12px 0;
section{
    width: 80%;
    margin-left: 10%;
    @include c.gridStyle(repeat(3, 1fr));
    @media(max-width:600px){
        @include c.gridStyle(1fr);
        justify-content: center;
    }
    @media (min-width: 600px) and (max-width: 800px){
        @include c.gridStyle(repeat(2, 1fr));
        justify-content: center;
    }

    div{

        &:nth-child(2){
           padding-left: 120px;
           @media(max-width:600px){
            padding-left: 0;
            text-align: center;
           }
        }
        h3{
            @include c.primaryFont(400);
            color: color.$white;
            @media(max-width:600px){
                font-size: 21px;
            }
        }
        p{
            @include c.primaryFont(400);
            color: color.$black;
            font-size: 12px;
            @media(max-width:600px){
                font-size: 15px;
            }
        }
        a{
            color: color.$white;
            text-decoration: none;
            @include c.primaryFont(400);
        }
    }

}
}