@use './../../helper/mixin.module.scss' as c; 
@use './../../helper/colors.module.scss' as color;

.minProfile{
    width: 90%;
    margin-left: 5%;
    margin-top: 60px;
    @include c.flexDirection(row);

    .firstSec{
        width: 50%;
        div{
            @include c.flexDirection(column);
            gap: 0;
            label{
                @include c.notMarPd;
                font-size: 12px;
                @include c.primaryFont(300);
            }
            input{
                @include c.notMarPd;
                margin-bottom: 15px;
                background-color: rgba(237, 236, 236, 1);
                border: 1px solid color.$darkGreen;
                height: 30px;
                
            }
        }
    }

    .secondSec{
        @include c.gridStyle(1fr);
        width: 50%;
        margin-top: 10px;
        .checkBox{
            @include c.flexDirection(row);
            position: relative;

            input{
                position: absolute;
                left: 95%;
            }
            label{
                width: 90%;
                @include c.primaryFont(300);
                font-size: 12px;
            }
        }
        .profBut{
            @include c.flexDirection(column);
            justify-content: end;
            button{
                border: none;
                width: 26%;
                height: 40px;
                margin-left: 84%;
                color: color.$white;
                cursor: pointer;
                &:nth-child(2){
                    background-color: color.$darkGreen;
                }
                &:nth-child(1){
                    background-color: color.$red;
                }
            }
            
        }
    }
}