@use './../../helper/mixin.module.scss' as c; 
@use './../../helper/colors.module.scss' as color;


.SignUp{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    form{
        width: 40%;
        margin-left: 30%;
        margin-bottom: 120px;
        h3{
            text-align: center;
            @include c.primaryFont(300);
            font-size: 32px;
        }
        div{
            @include c.gridStyle(1fr);
            @include c.notMarPd;
            margin-top: 30px;
            gap: 0;
            &:nth-child(2){
                margin-top: 30px
            }
            input{
                @include c.notMarPd;
                background-color: color.$input;
                border: 2px solid rgba(29, 132, 57, 0.5);
                height: 27px;

            }
            label{
                @include c.notMarPd;
                font-size: 14px;
                @include c.primaryFont(300);
            }
        }
        .inputsSpan{
            @include c.flexDirection(row);
            justify-content: space-between;
            section{
         
                @include c.flexDirection(row);
            }
            label{
                width: 80%;
                @include c.notMarPd;
                font-size: 11px;
                @include c.primaryFont(300);
            }
            button{
                background-color: color.$lightGreen;
                border: none;
                width: 170px;
                height: 36px;
                color: color.$white;

            }
        }
    }
}